@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--height: 0;
}

strong {
	@apply font-bold text-basegreen-300 dark:text-darkbasegreen-300;
}

section {
	@apply w-full;
}

.hero {
	background-image: url("/icons/logo/hero.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	/* background-color: aqua; */
}
#root > section {
	@apply w-full min-h-[760px] sm:min-h-[780px] md:min-h-[800px] lg:min-h-[840px];
}

.contact {
	background-image: url("/icons/logo/hero.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40%;
}
.contact form > input,
textarea {
	background-color: rgba(24, 129, 104, 0.12);
	@apply rounded-lg dark:bg-[#283145] text-basegreen-300 dark:text-darkbasegreen-300 dark:text-white text-xl py-[.3rem] px-[1rem] mt-[.4rem] border-none outline-none;
}
.contact form > input::placeholder,
textarea::placeholder {
	@apply text-[#B1D2CA];
}
.contact form > label:not(:first-child) {
	@apply mt-[2rem];
}

nav {
	/* @apply ; */
}
